doctype html5
html(lang="en" style="background-color: transparent;")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    #site
      h1 Example
      img(src='~src/image.jpg')
